
.subscribe-button{
    background-color:rgb(201, 0, 0);
    color:white;
    border:none;
    padding-right:16px;
    padding-left:16px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:3px;
    cursor:pointer;
    margin-right:8px;
    transition:opacity 0.15s;
    vertical-align: top;
}

.subscribe-button:hover{
    opacity:0.6;
}

.subscribe-button:active{
    opacity:0.4;
}

.join-button{
    background-color: white;
    border-color:rgb(106, 106, 224);
    border-style:solid;
    border-width:1px;
    color:rgb(67, 67, 187);
    height:35px;
    width:62px;
    cursor:pointer;
    margin-right:8px;
    transition:background-color 0.15s, color 0.15s;
    vertical-align: top;

}

.join-button:hover{
    background-color:rgb(21, 120, 201);
    color:white;
}


.join-button:active{
    opacity:0.7px;
}

.tweet-button{
    background-color:rgb(0, 140, 255);
    color:white;
    border:none;
    height:35px;
    width:70px;
    border-radius:18.5px;
    font-weight:bold;
    font-size:15px;
    cursor:pointer;
    margin-right:8px;
    transition: box-shadow 0.15s;
    vertical-align: top;

}

.tweet-button:hover{
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);

}
